/* Styles for advance search options boxes */
#ext-gen307[style]
{
    height: 212px!important;
}

#ext-gen306[style]
{
    width:300px !important;
    height: 30px!important;
    background-color:#dbdbdb !important;
}
#ext-gen171[style]
{
    height: 220px!important;
}